* {
    box-sizing: border-box;
}

body{
   background-color: rgb(69, 67, 197);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   user-select: none;
   margin: 0;
   padding: 0;
}

button{
    padding: 8px;
    width: 100px;
    height: 50px;
    background-color: rgb(166, 20, 132);
    color: white;
    border: none;
    font-family: serif;
    font-size: 18px;
    outline: none;
    font-weight: bold;
    margin: 5px;
    border-radius: 8px;
}
.btn {
    padding: 8px;
    border: none;
    color: rgb(3, 3, 3);
    background-color: rgb(249, 242, 242);
    border-radius: 3px;
    margin-top: 10px;
  }