* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, indigo, rgb(150, 69, 150));
  text-align: center;
  color: white;
  font-size: 35px;
   margin-bottom:50px ;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center; 
   overflow-x: hidden;
}
#chosenCategary {
  font-weight: 900;
  font-size: 40px;
  margin-top: 5px;
}
.transparrent{
  background-color: transparent;
}

#wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

 .peragraph{
   font-family: sans-serif;
   width: auto;
   font-size: 29px;
 }
#Clue {
  margin-top: 5px;
  color: rgb(247, 0, 255);
  font-size: 30px;
}

#box {
  margin: 0 auto;
  margin-top: 10px;
  width: 350px;
  height: 200px;
  border: 2px dashed #d6e95f;
}
.centerMan {
  margin: 20px 100px 20px 80px;
}
p {
  margin-top: 5px;
  font-weight: 700;
}
#stand {
  margin-top: 120px;
  margin-left: 30px;
  width: 150px;
  height: 6px;
}

#danda {
  position: absolute;
  margin-top: -32px;
  margin-left: 40px;
  height: 170px;
  width: 6px; 
  display: none;
}

.bulb{
  width: 16px;
  height: 13px;
  left: -4px;
  background-color: #d6e95f;
  border-radius: 29px;
  position: relative;
  top: -13px;
}

#hangStand {
  width: 120px;
  height: 4px;
  margin-top: 40px;
  margin-left: 20px;
}

#hang {
  height: 10px;
  width: 1px;
  margin-top: 0px;
  margin-left: 117px;
}

#head {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50% 50% 65% 65%;
  margin-left: 106px;
  display: none;
  background-color: #b7afaf;
}
#neack {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: absolute;
  width: 5px;
  height: 10px;
  margin-left: 115px;
  margin-top: 22px;
  background: #b7afaf;
  display: none;
}

#belly{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  width: 40px;
  height: 44px;
  margin-left: 98px;
  margin-top: 32px;
  background: #b7afaf;
  display: none;
}

#righthand {
  border-top-left-radius: 4px;
  position: absolute;
  width: 2px;
  height: 42px;
  margin-left: 153px;
  transform: rotate(-68deg);
  margin-top: 21px;
  display: none;
  background-color: #b7afaf;
}
#lefthand {
  position: absolute;
  width: 2px;
  height: 37px;
  margin-left: 85px;
  transform: rotate(-108deg);
  margin-top: 21px;
  border-bottom-left-radius: 4px;
  background-color: #b7afaf;
  display: none;
}
#leftleg {
  position: absolute;
  width: 6px;
  height: 30px;
  margin-left: 104px;
  margin-top: 76px;
  display: none;
  background-color: #b7afaf;
}
#rightleg {
  position: absolute;
  width: 6px;
  height: 30px;
  margin-left: 127px;
  margin-top: 76px;
  display: none;
  background-color: #b7afaf;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: fit-content;
}

#keyboard {
  margin-top: 10px;
  background-color: #f3d3aa;
  border-radius: 20px;
}
.row {
  margin-left: 5px;
  margin-right: 5px;
}

.alphabet {
  width: 55px;
  height: 55px;
  border-radius: 20%;
  font-size: 20px;
  cursor: pointer;
  margin: 3px 0 3px 0;
}

.box {
  display: inline-block;
  color: transparent;
}
#attemps {
  font-size: 1rem;
  color: rgb(255, 160, 122);
}

.white {
  background-color: white;
}

.black{
  background-color: black;
}

.show{
  display: block !important;
}

.chita{
  color: white;
}

.info {
  float: right;
  cursor: pointer;
  margin: 10px 10px 0px 0px;
  background: none;
  border: none;
  color: rgb(240, 128, 128);
}
.info:hover {
  cursor: pointer;
  color: rgb(0, 139, 7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  font-size: 30px;
  border: none;
  background-image: linear-gradient(to top, indigo, rgb(150, 69, 150));
  z-index: 1;
  color: white;
}

dialog .close-button {
  margin-top: 10px;
  padding: 13px 30px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #08aeea;
  color: white;
  font-size: 16px;
}
dialog .close-button:hover {
  background-color: #1b63ce;
}

.eyes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 4px;
}

.eye-black{
  background-color: black;
  width: 5px;
  height: 4px;
  border-radius: 10px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(36deg)
}

.eye-lens{
  background-color: white;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: translate(-10%,10%);
}

.lips{
  background-color: pink;
  padding: 2px 5px;
  position: relative;
  border-radius: 2px 2px 10px 10px
}

.toung{
  background-color: red;
  padding: 2px;
  position: absolute;
  left: 3px;
  border-radius: 2px 2px 5px 5px;
}

#mouth{
    position: relative;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fingers{
  position: absolute;
  right: -4px;
  bottom: -9px;
}

.fingers-r{
  transform: rotate(151deg);
  position: absolute;
  right: -4px;
  bottom: 38px;
}

.finger-1{
  border: 2px solid #b7afaf;
  width: 12px;
  transform: rotate(-17deg);
  border-radius: 3px;
  position: relative;
  left: -1px;
  top: -1px;
}

 .finger-2{
  border: 2px solid #b7afaf;
  width: 15px;
  transform: rotate(-69deg);
  position: relative;
  top: 1px;
  border-radius: 4px;
}

.finger-3{
  border: 2px solid #b7afaf;
  width: 10px;
  transform: rotate(-143deg);
  position: relative;
  top: -4px;
  left: 9px;
  border-radius: 4px;
}

.finger-4{
  border: 2px solid #b7afaf;
  width: 13px;
  transform: rotate(-110deg);
  position: relative;
  border-radius: 4px;
  left: 6px;
  top: -2px;
}
.finger-r-4{
  border: 2px solid #b7afaf;
    width: 13px;
    transform: rotate(-110deg);
    position: relative;
    border-radius: 4px;
    left: 5px;
    top: -3px;
}
.finger-5{
  border: 2px solid #b7afaf;
  width: 12px;
  transform: rotate(-177deg);
  position: relative;
  top: -15px;
  left: 9px;
  border-radius: 4px;
}
.foot{
  border: 5px solid #b7afaf;
  width: 14px;
  position: relative;
  top: 30px;
  left: -4px;
  border-radius: 2px;
}
