body{
    margin: 0;
    padding: 0;
    background-color:#e9ebed;
}
.container{
    width: 99%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.nav{
    display: flex;
    flex-direction: column;
    width: 3%;
    background-color: white;
}
.nav-hover:hover{
    background-color: #1976D2;
    padding: 3px;
    color: white;
}
.side-bar{
    color: rgb(165 158 158);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13px;
    align-items: center;
    margin-top: 10px
}
.side-clr{
    color: #73a0f5;
}
a{
    color: #1b6aff;
}
.content-wrapper{
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    gap: 10px;
}
.box-1{
    width: 75%;
    background: #58baab;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.margin{
    margin-top: 10px;
    margin-left: 10px;
}
.header-text{
    color: #f9f5f5;
    font-family: sans-serif;
    font-size: 20px;
}
.peragraph-text{
    color: #dbd7d7;
    font-family: sans-serif;
    font-size: 13px;
}
.d{
    display: flex;
    gap: 10px;
}
.header-display{
    display: flex;
    gap: 20px;
    margin-left: 10px;
}
.header-icon1{
    width: 40px;
    height: 40px;
    font-size: 17px;
    background-color: #f2426d;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fafdfb;
    border-radius: 50%;
}
.icon-text{
    color: #fbf6f6;
    margin-top: 3px;
    font-size: 15px;
    font-family: sans-serif;
}
.doler{
    color: #d1d7dd;
    margin-top: -11px;
    font-size: 12px;
    font-family: sans-serif;
}
.header-icon2{
    width: 40px;
    height: 40px;
    font-size: 17px;
    background-color:#fec801;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fafdfb;
    border-radius: 50%;
}
.image{
    width: 195px;
    height: 180px;
}
.box-2{
    width: 25%;
}
.header2-display{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header2-btn{
    width: 90%;
    height: 33px;
    background-color: #1b6aff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn-display{
    display: flex;
    color: white;
    gap: 10px;
    font-family: system-ui;
}
.btn2-display{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 13px;
}
.clr{
    color: #353434;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
.m{
    position: relative;
    top: 11px;
}
.header-div{
    width: 100%;
    height: 15px;
    background-color: #eef5fb;
    color: #3798ed;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wth{
    width: 100%;
}
.header-div2{
    width: 100%;
    height: 30px;
    background-color: white;
    color: #6b6767;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: system-ui;
    padding: 3px;  
}
.p{
    position: relative;
    left: 18px;
}
.child{
    width: 26px;
    height: 26px;
    background-color:#fec801;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -27px;
    left: 27px;
    border-radius: 3px;
}
.row{
    width: 100%;
    gap: 10px;
    display: flex;
}
.col{
    width: 100%;
    margin-left: 10px;
}
.aside-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #353434;
    font-family: sans-serif;
    margin-top: -9px;
}
.head2-article{
    font-size: 12px;
    margin-right: 27px;
}
.main-aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-article{
    width: 90%;
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding-right: 40px;
}
.box:hover{
    box-shadow: #585858 0px 2px 2px 1px;
    outline: none;
}
.uper-flex{
    display: flex;
    gap: 15px;
}
.article-uper-child1{
    width: 40px;
    height: 40px;
    background-color:#fec801;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 21px;
}
.article-uper-child2{
    width: 40px;
    height: 40px;
    background-color: #f30c67;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 21px;
}
.article-uper-child3{
    width: 40px;
    height: 40px;
    background-color: #2d9b33;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 21px;
}
.article-uper-child4{
    width: 40px;
    height: 40px;
    background-color: #1565C0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 21px;
}
.main-text-article{
    font-family: sans-serif;
    font-size: 15px;
    color: #313030;
}
.uper-txt-article{
    margin-top: 3px;
    font-size: 12px;
    font-family: sans-serif;
    color: #898484; 
}
.article-child{
    width: 120px;
    height: 28px;
    background-color: #FFECB3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fec801;
    border-radius: 5px;
    font-size: 14px;
}
.view-hover:hover{
    color: white; 
    background-color: #fec801;
}
.txt-hover-1:hover{
    color: #fec801;
}
.txt-hover-2:hover{
    color:  #f30c67;
}
.txt-hover-3:hover{
    color:  #2d9b33;
}
.txt-hover-4:hover{
    color: #1565C0;
}
.article-child2{
    width: 120px;
    height: 28px;
    background-color: #FCE4EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #e11868;
    border-radius: 5px;
    font-size: 14px;
}
.view-hover2:hover{
    color: white; 
    background-color:#e11868;
}
.article-child3{
    width: 120px;
    height: 28px;
    background-color: #E8F5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #4CAF50;
    border-radius: 5px;
    font-size: 14px;
}
.view-hover3:hover{
    color: white; 
    background-color: #4CAF50;
}
.article-child4{
    width: 120px;
    height: 28px;
    background-color: #E3F2FD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #1976D2;
    border-radius: 5px;
    font-size: 14px;
}
.view-hover4:hover{
    color: white; 
    background-color: #1976D2;
}
.article-part2-head{
    color: #353434;
    font-family: sans-serif;
    margin-top: 10px;
}
.part2-flex{
    display: flex;
    gap: 10px;
}
.part2-first-box{
    width: 65%;
    border-radius: 5px;
    background-color: #fec801;
    padding: 10px;
}
.box-hover:hover{
    color: white;
    background-color: #fec801;
    border: 1px solid white;
}
.part2-second-box{
width: 35%;
border-radius: 5px;
background-color: #f30c67;
padding: 10px;
}
.box-hover2:hover{
    color: white;
    background-color: #f30c67;
    border: 1px solid white;
}
.first-box-child{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    color: #fec801;
    align-items:center;
    justify-content: center;
    rotate: -43deg;
}
.second-box-child{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f30c67;
}
.child-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color1{
    color: white;
    font-family: sans-serif;
    font-size: 19px;
}
.color2{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 2px;
}
.color3{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}
.aside-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #353434;
    font-family: sans-serif;
    margin-top: -9px;
}
.head1{
    font-size: 11px;
    margin-right: 27px;
    margin-top: 3px;
}
.main-aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-img{
    width: 36px;
    height: 36px;
}
.first-aside{
    width: 95%;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
}
.main-uper-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.aside-uper-child1{
    width: 40px;
   height: 40px;
   background-color: #a7c5fd;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main-text{
    font-family: sans-serif;
    font-size: 15px;
}
.uper-txt{
    margin-top: 3px;
    font-size: 12px;
    font-family: sans-serif;
    color: #898484;  
}
.aside-child{
    width: 120%;
    height: 30px;
    background-color: rgb(220, 223, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(63, 61, 61);
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}
.course-hover:hover {
    color:black;
    background-color: gray;
}
.col1-col2{
    width: 203%;
    display: flex;
    gap: 2px;
}
.col-1{
    width: 90%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.part3-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 25px;
    font-family: sans-serif;
    font-size: 14px;
}
.part3-head-iner{
    background-color: #E3F2FD;
    color: #1565C0;
    padding: 6px;
    font-size: 11px;
    border-radius: 3px
}
.line{
    width: 275px;
    height: 7px;
    background: linear-gradient(to right, #1565C0 40%, #E5E8EB 40%);
    border-radius: 10px;
}
.line2{
    width: 275px;
    height: 7px;
    background: linear-gradient(to right, #4CAF50 20%, #E5E8EB 20%);
    border-radius: 10px;
}
.line3{
    width: 275px;
    height: 7px;
    background: linear-gradient(to right,  #fec801 18%, #E5E8EB 18%);
    border-radius: 10px;
}
.line4{
    width: 275px;
    height: 7px;
    background: linear-gradient(to right, #E91E63 7%, #E5E8EB 7%);
    border-radius: 10px;
}
.progress-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.line1-text{
    font-family: sans-serif;
    color: #575252;
    font-size: 14px;
}
.text-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: -15px;
    font-family: sans-serif;
}
.progress-text{
    color: #1976D2;
    font-size: 12px;
}
.progress-user{
    color: #353434;
    font-size: 10px;
}
.main-progress-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col-2{
    width: 110%;
    margin-left: 10px;
}
.flex-colum{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.aside-head-part4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #353434;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.first-article-part4{
    width: 95%;
    padding: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}
.col-3{
width: 100%; 
background-color: white;
margin-top: 10px;
padding-bottom: 10px;   
}
.aside-head2{
    color: #353434;
    font-family: sans-serif;
    padding-top: 12px;
    padding-left: 14px;
}
.main{
    display: flex;
    flex-direction: column;
    gap:17px ;
}
.main-flex{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.backgruoand:hover{
    background-color: #61bcf8 ;
    color: white;
}
.iner-flex{
    display: flex;
    gap: 18px;
    margin-left: 16px;
}
.aside-iner-child{
    width: 40px;
    height: 40px;
    background-color: #a7c5fd;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D47A1;
}
.aside-iner-child2{
    width: 40px;
    height: 40px;
    background-color:#f9c4c7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #da0303;
}
.aside-iner-child3{
    width: 40px;
    height: 40px;
    background-color: #b2f8c7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #058010;
}
.aside-iner-child4{
    width: 40px;
    height: 40px;
    background-color: #e9c5ef;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A148C;
}
.txt{
    margin-top: 3px;
    font-size: 11px;
    font-family: sans-serif;
    color: #898484;
}
.txt2{
    margin-top: 6px;
    font-size: 11px;
    font-family: sans-serif;
    color: #898484;
}
.txt3{
    margin-top: 6px;
    font-size: 11px;
    font-family: sans-serif;
    color: #898484;
    margin-left: -15px;
}
.txt4{
    margin-top: 6px;
    font-size: 11px;
    font-family: sans-serif;
    color: #898484;
    margin-left: 10px;
}
.aside-end{
    width: 90%;
    height:25px;
    background-color: rgb(202 230 251);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b6aff;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 20px;
}
.main-text{
    font-family: sans-serif;
    font-size: 15px;
}
.dec{
    text-decoration: none;
}
footer{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-b{
    color: #313030;
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 13px;
}
.view-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-p{
    color: #1976D2;
    font-family: sans-serif;
    margin-right: 20px;
    font-size: 11px;
}
@media(max-width:700px){
 .container{
    flex-direction: column;
 }
 .image{
    display: none;
 }
 header{
    flex-direction: column;
 }
 .box-1{
    width: 10%;
 }
 .box-2{
    width: 100%;
 }
 .nav{ 
    display: none!important;
 }
 .row{
flex-direction: column;
width: 100%;
 }
 .col1-col2{
    width: 100%;
    flex-direction: column;
 }
 .col-1{
    width: 100%;
    flex-direction: column;
 }
 .col-2{
    width: 100%;
    flex-direction: column;
 }
}
@media(max-width:1100px){
    .container{
       flex-direction: row;
    }
    header{
       flex-direction: column;
    }
    .part2-second-box{
        width: 30%;
    }
    .btn2-display{
        width: 90%;
     }
    .part2-first-box{
        width: 60%;
    }
.btn-display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    display: none;
}
.p{
    left: 0px;
}
    .box-1{
       width: 100%;
    }
    .box-2{
       width: 100%;
    }
    .nav{
        display:flex;
        width: 4%; 
    }
    .row{
         flex-direction: column;
         width: 100%;
    }
    .col1-col2{
       width: 100%;
       flex-direction: column;
    }
    .col-1{
       width: 96%;
       flex-direction: column;
    }
    .col-2{
       width: 100%;
       flex-direction: column;
    }
    .col-3{
        width: 98%;
    }
    footer{
        width: 98%;
    }
    .aside-head{
        width: 98%;
    }
    .aside-head-part4{
        width: 95%;
    }
   }
  